<form class="form-login"
          (submit)="submitLoginForm()"
          novalidate>
      <h2>Veuillez vous connecter :</h2>
      <input class="form-control user-input"
             [(ngModel)]="form.email"
             placeholder="Adresse mail"
             type="text"
             name="mail"
             required="true"/>
      <input class="form-control user-input"
             [(ngModel)]="form.password"
             placeholder="Password"
             type="password"
             name="password"
             required="true"/>
      <input class="form-control user-input"
            [(ngModel)]="form.brand"
            placeholder="Brand"
            type="text"
            name="brand"
            required="true"/>
      <input class="form-control user-input"
            [(ngModel)]="form.adress"
            placeholder="Adresse"
            type="text"
            name="address"
            required="true"/>
      <input class="form-control user-input"
            [(ngModel)]="form.immat"
            placeholder="Immat"
            type="text"
            name="immat"
            required="true"/>
      <input class="form-control user-input"
            [(ngModel)]="form.nom"
            placeholder="Nom"
            type="text"
            name="nom"
            required="true"/>
      <input class="form-control user-input"
            [(ngModel)]="form.prenom"
            placeholder="Prénom"
            type="text"
            name="prenom"
            required="true"/>
      <button type="submit">Login</button>
</form>
